.information {
    padding: var(--navigation-margin);
    padding-top: 0;
    height: var(--body-height);
    @apply snap-none sm:snap-y snap-mandatory  sm:overflow-y-auto space-y-7;
}

.information article {
    --top-margin: 7rem;
    width: min(1000px, 95vw);
    min-height: calc(var(--body-height));

    @apply snap-none sm:snap-start;
}

.information article iframe,
.information article img {
    @apply w-2/3 sm:w-full h-10rem sm:h-20rem;
    padding-bottom: var(--navigation-margin);
}

.information article header {
    margin: 0;
    @apply rounded-b-none;
}

.information article {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.information article > div {
    display: flex;
    flex-direction: column;
    background-color: white;
    @apply rounded-xl space-y-6 sm:mt-10rem;
}

.information article section p {
    text-align: justify;
}

.information article section {
    @apply px-6;
}

.information article section:last-of-type {
    @apply pb-6;
}
