.home {
    height: var(--body-height);
    opacity: 1;
    animation-name: show;
    animation-duration: 2s;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.home-title {
    @apply text-2xl sm:text-8xl;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.home-img {
    width: 80%;
}

.home-links > div {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    @apply text-white p-2 rounded-md hover:cursor-pointer;
}
