.home {
    height: calc(100vh - var(--navigation-height));
    /*background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);*/

    padding-top: 20rem;

    animation: show 2s linear;
}

.home-title {
    @apply text-8xl;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.home-img {
    width: 80%;
}

.home-links > a {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    @apply text-white p-2 rounded-md hover:cursor-pointer hover:scale-105;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
