@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --good: #155724;
    --bc-color--good: #d4edda;
    --border-color-good: #c3e6cb;

    --bad: #721c24;
    --bc-color--bad: #f8d7da;
    --border-color-bad: #f5c6cb;

    --udes-color: #018849;

    --reason-height: 5rem;

    --icon-good: "\f058";
    --icon-bad: "\f057";

    --navigation-height: 5vh;
    --navigation-margin: 1rem;
    --body-height: calc(100vh - (var(--navigation-height) + var(--navigation-margin) * 2));
}

* {
    margin: 0;
    padding: 0;
}

body {
    //background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    //background-color: #FFFDFA;
    background-color: rgba(230, 243, 237, 0.84);
}

.navigation {
    height: var(--navigation-height);
}

.app {
    height: var(--body-height);
    overflow-y: hidden;
    scroll-snap-type: y mandatory;
}

.scoreboard {
    position: fixed;
    bottom: calc(var(--reason-height) + 1rem);
    right: 2rem;
}

.scoreboard li {
    list-style: none;
    position: relative;
}

.scoreboard li:after {
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    left: -1.5rem;
}

.scoreboard li.good:after {
    color: var(--good);
    content: var(--icon-good);
}

.scoreboard li.bad:after {
    color: var(--bad);
    content: var(--icon-bad);
}


button.default {
    background-color: var(--udes-color);
    color: white;
    padding: 0.75rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    position: relative;
    border: none;
}

button.default:after {
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    font-size: 1.5rem;
    content: "\f358";
    color: white;
    margin-left: 0.5rem;
    //position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

button.default:hover {
    cursor: pointer;
}

.link {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    @apply text-white p-2 rounded-md hover:cursor-pointer hover:scale-105 hover:opacity-90;
}
